body {
  font-family: 'Montserrat', sans-serif;
}

#header  {
  background-image: url:("https://ichef-1.bbci.co.uk/news/976/cpsprodpb/0EF1/production/_98352830_boy_getty.jpg");
  background-repeat: space;
  background-attachment: local;
  background-position:0% 50%;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#Headline {
  background-color: red;
  font-weight: bolder;
}
